[submodule "module_system_dummy"]
	path = module_system_dummy
	url = git@github.com:Vadimatorik/module_system_dummy.git
[submodule "module_fsm"]
	path = module_fsm
	url = git@github.com:Vadimatorik/module_fsm.git
[submodule "module_mc_hardware_interfaces"]
	path = module_mc_hardware_interfaces
	url = git@github.com:Vadimatorik/module_mc_hardware_interfaces.git
[submodule "module_stm32f1_low_level"]
	path = module_stm32f1_low_level
	url = git@github.com:Vadimatorik/module_stm32f1_low_level.git
[submodule "module_sensor"]
	path = module_sensor
	url = git@github.com:Vadimatorik/module_sensor.git
[submodule "module_freertos_for_stm32f1"]
	path = module_freertos_for_stm32f1
	url = git@github.com:Vadimatorik/module_freertos_for_stm32f1.git
