[submodule "micro_sd_driver_by_vadimatorik"]
	path = micro_sd_driver_by_vadimatorik
	url = git@github.com:Vadimatorik/micro_sd_driver_by_vadimatorik.git
[submodule "module_fat_fs_by_chan"]
	path = module_fat_fs_by_chan
	url = git@github.com:Vadimatorik/module_fat_fs_by_chan.git
[submodule "mk_hardware_interfaces"]
	path = mk_hardware_interfaces
	url = git@github.com:Vadimatorik/mk_hardware_interfaces.git
[submodule "FreeRTOS_for_stm32f1"]
	path = FreeRTOS_for_stm32f1
	url = git@github.com:Vadimatorik/FreeRTOS_for_stm32f1.git
[submodule "stm32f1_low_driver"]
	path = stm32f1_low_driver
	url = git@github.com:Vadimatorik/stm32f1_low_driver.git
